/* Button on the first page*/
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 300px;
    height: 70px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 650;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 3px 3px 3px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-16 {
    border: none;
    color: #000;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }

/* Button 3 */
  /* .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  } */

/* Color background --------------------------------------------------------*/
  .bckph {
    font-size: 50px;
    font-weight: 900;
    background-image: url("https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGFic3RyYWN0JTIwcGFpbnRpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60");
    color: #05386b;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
  
  }

  .quote{
    background-color:#b3f0ff;
    color: #05386b;
  }

  .fontstyle{
        font-family: Garamond, Times New Roman;
        font-weight: 600;
  }

  /* tree --------------------------------------------------------------------*/
  :root {
    font-size: 14px;
}

.tree-view {
    position: relative;
    
    display: flex;
    flex-direction: column;
    
    width: max-content;
    
    font-size: 1.25rem;
    
    padding-left: 1rem;
    
    user-select: none;
}

.branch-node {
    position: relative;
    
    padding-left: 2rem;
    
    cursor: pointer;
}

.branch-node::before, .branches > ::before {
    content: "";
    
    position: absolute;
    
    left: -0.5rem;
    top: 1.5rem;
    
    width: 3rem;
    
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.branch-node:not(:last-child)::before, .branches > :not(:last-child)::before {
    height: 100%;
}

.branch-node:last-child::before, .branches > :last-child::before {
    border-top: 0;
    border-bottom: 2px solid black;
}

:not(.tree-view) > .branch-node:first-child::after, .branches > :first-child::after {
    content: "";
    
    position: absolute;
    
    left: -0.5rem;
    top: -1.5rem;
    
    height: 3rem;
    
    border-left: 2px solid black;
}

.branch-title {
    position: relative;
    
    display: list-item;
    list-style: none;
    
    width: max-content;
    height: 3rem;
    line-height: 3rem;
    
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.branch-title::before {
    content: "►";
    
    position: absolute;
    
    left: 1rem;
    
    margin-right: 1rem;    
}

.branch-node.open > .branch-title::before {
    transform: rotate(90deg);
}

.branch-node.open > .branches {
    display: initial;
}

.branches {
    display: none;
    
    padding: 0;
    margin: 0;
}

.branches > .branch-node {
    margin-left: 2rem;
}

.branches > li {
    position: relative;
    
    list-style: none;
    
    width: fit-content;
    min-height: 4rem;
    line-height: 3rem;
    
    margin-left: 2rem;
    padding-left: 3rem;
}