.css-1px2xwe{
    font-family: Roboto;
    flex: 0 0 auto;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    align-self: initial;
    outline: none;
    margin: 0px;
    border: none;
    display: inherit;
    text-decoration: none;
    appearance: none;
    height: 165px;
    background-color: rgb(225, 240, 238);
    border-radius: 12px;
    padding: 22px 16px 20px 21px;
    position: relative;
    transition: all 200ms ease-in-out 0s;
    cursor: pointer;
    text-align: left;
    flex-direction: column;}

.css-bhox9v {
    font-family: Roboto;
    flex: 0 0 auto;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    align-self: initial;
    outline: none;
    margin: 0px;
    border: none;
    display: inherit;
    text-decoration: none;
    appearance: none;
    height: 165px;
    background-color: rgb(241, 221, 221);
    border-radius: 12px;
    padding: 22px 16px 20px 21px;
    position: relative;
    transition: all 200ms ease-in-out 0s;
    cursor: pointer;
    text-align: left;
    flex-direction: column;
}